<ion-header>
  <ion-toolbar>
    <ion-title>Sign-up</ion-title>
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="home"></ion-back-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="formValidation">

    <form class="form" [formGroup]="formValidation" (ngSubmit)="tryRegister(formValidation.value)"> 
      <ion-item>
        <ion-label position="floating" color="primary">Email: </ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div> 
        <ng-container *ngFor="let validation of formValidationMessages.email">
          <div class="error-message"
            *ngIf="formValidation?.get('email')?.hasError(validation.type) && (formValidation.get('email')?.dirty || formValidation.get('email')?.touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating" color="primary">Contraseña: </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div> 
        <ng-container *ngFor="let validation of formValidationMessages.password">
          <div class="error-message"
            *ngIf="formValidation.get('password')?.hasError(validation.type) && (formValidation.get('password')?.dirty || formValidation.get('password')?.touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="div-button-login"> 
        <ion-button type="submit" expand="block" class="ion-text-center"[disabled]="!formValidation.valid">Registrarse</ion-button>
      </div>
      <div class="div-label-error"> 
        <ion-label class="error-message">{{ errorMessage }}</ion-label>
      </div>
    </form>

  </div>

</ion-content>