ion-img {
    height: 300px;
    margin-top: 16px;
    margin-bottom: 16px;
    
  }

img {
    height: 200px;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}