<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar color="translucent">
    <img class="title-image" src="/assets/imgs/tunely2.png" width="150" height="50" />
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/sign-up']" class="register" *ngIf ="!auth">Sign up  
      </ion-button>
      <ion-button [routerLink]="['/login']" *ngIf="!auth" class="register">Log in
      </ion-button>
      <ion-button slot="end" (click)="logout()" *ngIf="auth">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" [fullscreen]="true">
  <section class="banner" role="banner">
    <h1>Life is music</h1>
 
  <form action="" class="search-bar">
    <input type="search" name="search" pattern=".*\S.*" required [(ngModel)]="data">  
    <button class="search-btn" type="submit" (click)="goToTrackListData()">
    </button>
  </form>

  <div class="text-box">
    <button type="button" (click)="goToTrackList()" class="btn btn-white animated">All songs</button>
  </div>
</section>

</ion-content>
