<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar color="translucent">
    <img class="title-image" src="/assets/imgs/logo.png" width="150" height="50" />
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/sign-up']">  
        <img class="custom-icon" src="/assets/icon/add-user.png">
      </ion-button>
      <ion-button [routerLink]="['/login']">  
        <img class="custom-icon" src="/assets/icon/enter.png">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" [fullscreen]="true">
  <section class="banner" role="banner">
    <h1>Life is music</h1>
  </section>
  <form action="" class="search-bar">
    <input type="search" name="search" pattern=".*\S.*" required [(ngModel)]="data">  
    <button class="search-btn" type="submit" (click)="goToNewPageNavigate()">
      <span>Search</span>
    </button>
  </form>

</ion-content>
